.Logistics{
    font-size: 20px;
    color: #3d3da6;
}
.Logistics span{
    color: #3d3da6;
}
.overclass{
    text-align: center;
    font-size: 20px;
    border: 1px solid #d7d7e2;
    padding: 10px 20px;
    background: #a1a1c5;
}