/* .content-wrapper {
    flex-grow: 1;
    padding: 20px;
  }
  
  .permissions-section {
    margin-top: 20px;
  }
  
  .permissions-section ul {
    list-style: none;
    padding: 0;
  }
  
  .permissions-section ul ul {
    margin-left: 20px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  } */